VITE_SUPABASE_URL=https://uhvepwkbemefpmhtyydj.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVodmVwd2tiZW1lZnBtaHR5eWRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0Njc1NzUsImV4cCI6MjA5MTA0MzU3NX0.xQFORdANaBqAUhDbQtJ1ojdy1iSDqMS5cQoTCWzToLY
